/* @media(max-width: 576px){

    .gf-locate-container{
        display: none;
    }

    .gf-icons-container{
        display: none;
    }
    
    .gf-header{
        display: none;
    }

    .nav-wrapper{
        border: 1px solid black;
    }

    .nav-wrapper-container{
        border: 1px solid black;
        position: absolute;
        width: 270px;
    }

    .nav{
        flex-direction: column;
    }

    .nav-hover-underline{
        display: none;
    }

    .nav-underline{
        display: none;
    }
























} */