:root{
    --brown-web: #79553D;
    --borwn-web-dark: #674631;
    --brown-web-oppocity: rgba(#79553D, #79553D, #79553D, 60%);
    --yellow-web: #EBCE4C;
    --gray-web: #595757;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    /* border: 1px solid black; */
}

/* --------------------------------------------------------HEADER--------------------------------------------------------------------------------------- */

.gf-header{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-top: 25px;
}

.gf-locate-container{
    display: flex;
    gap: 5px;
}

.gf-btns-container{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.gf-locate{
    font-size: 14px;
}

.gf-phone{
    font-size: 20px;
}

.gf-text-locate{
    display: flex;
    flex-direction: column;
}

.gf-locate-container>svg{
    margin-top: 3px;
    color: var(--brown-web);
}

.gf-logo-container{
    font-size: 64px;
    /* border: 1px solid black; */
    margin-top: -10px;
}

.gf-links{
    display: flex;
    flex-direction: column;
    margin-top: -8px;
}

.gf-links>a{
    text-decoration: none;
    color: var(--gray-web);
    font-size: 20px;
}

.gf-links>a:active{
    color: black;
}

.gf-contact{
    width: 185px;
    height: 45px;
    background: white;
    border: 2px solid var(--brown-web);
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
}

.gf-contact:hover{
    background: var(--brown-web);
    color: white;
    border: none;
}

.gf-contact:active{
    background: var(--borwn-web-dark);
    color: white;
    border: none;
}

/* -------------------------------------------------/HEADER/---------------------------------------------------------------------------------------------- */

/* -------------------------------------------------NAVBAR---------------------------------------------------------------------------------------------- */

/* .gf-navbar{
    display: flex;
    gap: 34px;
}

.gf-navbar>li>a{
    text-decoration: none;
    color: black;
}

.gf-navbar>li{
    list-style-type: none;
    font-size: 16px;
}
 */



.nav-wrapper {
  position: relative;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  /* margin-left: 100px; */
  display: flex;
  justify-content: space-between;
  width: 1400px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
  z-index: 1;
}

.nav-link {
  padding: 10px 0;
  position: relative;
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
  font-size: 16px;
}

.nav-link:hover{
    color: black;
}

.nav-underline,
.nav-hover-underline {
  position: absolute;
  top: 0;
  height: 5px;
  background-color: var(--brown-web);
  transition: left 0.3s ease, width 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
}

.nav-underline {
  z-index: 1;
}

.nav-hover-underline {
  z-index: 2;
  opacity: 0;
}




.gf-navbar-container{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}


.gf-icons-container{
    display: flex;
    gap: 30px;
    margin-top: 5px;
}

.gf-icons-container>a{
    text-decoration: none;
    color: black;
}

.gf-icons-container>a:hover{
    color: var(--brown-web);
}

.gf-cart{
    display: flex;
    flex-direction: column;
}

.gf-under-text-cart{
    font-size: 13px;
    margin-left: -10px;
}

.gf-input{
    display: flex;
    flex-direction: column;
}

.gf-under-text-input{
    font-size: 13px;
    margin-left: -3px;
}





/* -------------------------------------------------/NAVBAR/---------------------------------------------------------------------------------------------- */

/* -------------------------------------------------POSTER---------------------------------------------------------------------------------------------- */

.gf-poster-container{
    background: var(--gray-web);
}

.gf-btn-rent{
    width: 290px;
    height: 70px;
    border: none;
    border-radius: 7px;
    background: var(--brown-web);
    color: white;
    font-size: 24px;
}

.gf-btn-rent:hover{
    background: var(--borwn-web-dark);
}

.gf-text-poster>h1{
    color: var(--yellow-web);
    font-size: 96px;
}

.gf-text-poster{
    margin-top: 100px;
    display: flex;
    flex-direction: column; 
    gap: 50px;
}

.gf-poster{
    display: flex;
    justify-content: space-between;
}

.gf-poster>img{
    margin-top: 50px;
}




/* -------------------------------------------------/POSTER/---------------------------------------------------------------------------------------------- */

/* -------------------------------------------------CATALOG---------------------------------------------------------------------------------------------- */

.gf-heading-catalog>h1{
    font-size: 24px;
}

.gf-heading-catalog>div{
    width: 53px;
    height: 2px;
    background: black;
    border: none;
    margin-top: 30px;
}

.gf-heading-catalog{
    justify-items: center;
    margin-top: 224px;
}

.gf-heading-categories>h1{
    font-size: 16px;
    margin-left: 20px;
}

.gf-heading-categories>div{
    width: 200px;
    height: 2px;
    background: black;
    border: none;
    margin-top: 30px;
}

.accordion-button:not(.collapsed){
    color: black;
    background: none;
}

.accordion-button:focus{
    box-shadow: none;
}

.gf-accordion{
    width: 200px;
}

.gf-accordion-body{
    margin-top: -15px;
}

.accordion-button:not(.collapsed)::after{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.gf-check-national{
    margin-left: -5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gf-check:focus{
    color: white;
    box-shadow: none;
    border: 1px solid #D9D9D9;
}

.gf-check{
    border: 1px solid #D9D9D9;
}

.gf-catalog-container{
    margin-top: 52px;
    display: flex;
}

.gf-catalog{
    max-width: 900px;
    /* border: 1px solid black; */
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.gf-catalog>div{
    /* border: 1px solid black; */
}

.gf-catalog-panel{
    display: flex;
    justify-content: space-between;
}

.gf-catalog-panel>span{
    font-size: 16px;
}

.gf-catalog-panel>input{
    width: 270px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    padding-left: 32px;
    font-size: 16px;
}

.gf-card{
    width: 270px;
    height: 335px;
    border-radius: 7px;
    border: 1px solid rgba(black, black, black, 20%);
    background: #F6F6F6;
}

.gf-card-row{
    gap: 30px;
}

.gf-card-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 12px;
}

.gf-card-num-link{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.gf-card-num-link:hover{
    color: var(--brown-web);
}


/* -------------------------------------------------/CATALOG/---------------------------------------------------------------------------------------------- */

/* -------------------------------------------------FOOTER---------------------------------------------------------------------------------------------- */

footer{
    margin-top: 100px;
    height: 460px;
    background: #E9EAEE;
}

.gf-footer-logo{
    font-size: 64px;
}

.gf-footer-links>a{
    font-size: 20px;
    text-decoration: none;
    color: var(--gray-web);
}

.gf-footer-links>a:active{
    color: black;
}

.gf-footer-links{
    margin-left: 90px;
    display: flex;
    gap: 20px;
}

.gf-footer-socialnetwork{
    display: flex;
    gap: 35px;
}

.gf-footer-rowone{
    display: flex;
    flex-direction: column;
    gap: 190px;
}

.gf-footer-link>a{
    text-decoration: none;
    color: var(--gray-web);
    font-size: 16px;
}

.gf-footer-link{
    list-style-type: none;
}

.gf-footer-link>a:hover{
    margin-left: 10px;
    color: var(--brown-web);
}

.gf-footer-heading-links{
    font-size: 22px;
    color: black;
}

.gf-footer-list-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gf-footer-rowtwo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.gf-footer-heading-contact{
    font-size: 22px;
}

.gf-footer-rowthree{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gf-footer-list-contacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gf-footer-container-into{
    position: relative;
    top: 30px;
    max-width: 909px;
    display: flex;
    gap: 150px;
}


/* -------------------------------------------------/FOOTER/---------------------------------------------------------------------------------------------- */

/* -------------------------------------------------PRODUCT---------------------------------------------------------------------------------------------- */

.gf-product-main-images{
    width: 535px;
    height: 480px;
    /* border: 1px solid rgba(black, black, black, 20%); */
    /* border: 1px solid black; */
    background: #F6F6F6;
}

.gf-product-secondary-images{
    width: 170px;
    height: 155px;
    /* border: 1px solid rgba(black, black, black, 20%); */
    /* border: 1px solid black; */
    background: #F6F6F6;
}

.gf-product-container-images-row{
    display: flex;
    gap: 12px;
}

.gf-product-container-images{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.gf-product-container{
    display: flex;
    gap: 63px;
    margin-top: 60px;
}

.gf-product-main-heading{
    font-size: 32px;
}

.gf-product-size-row{
    display: flex;
    gap: 15px;
}

.gf-product-size-col{
    font-size: 20px;
}

.gf-product-size-heading{
    font-size: 20px;
    color: black;
}

.gf-product-wardrobe-container, .gf-product-sex-container, .gf-product-quantity-container{
    display: flex;
    gap: 10px;
}

.gf-product-wardrobe-heading, .gf-product-sex-heading, .gf-product-quantity-heading{
    font-size: 16px;
    color: black;
}

.gf-product-wardrobe, .gf-product-sex, .gf-product-quantity{
    font-size: 16px;
    color: var(--gray-web);
}

.gf-product-information{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gf-product-information-cost{
  display: flex;
  align-items: center;
  gap: 10px;
}

#gf-quantity{
  width: 40px;
  height: 34px;
  text-align: center;
  border: 1px solid var(--gray-web);
  background: #F6F6F6;
  border-radius: 3px;
}

.gf-quantity-di{
  width: 25px;
  height: 25px;
  border: 1px solid var(--gray-web);
  background: #F6F6F6;
  font-size: 10px;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 3px;
}
.gf-product-cost{
    font-size: 20px;
}

#gf-total-price{
    font-size: 24px;
    color: var(--brown-web);
}

.gf-product-first-calendar,.gf-product-twice-calendar>label{
    font-size: 16px;
    color: black;
}

.gf-product-first-calendar>input{
    width: 150px;
}

.gf-product-twice-calendar>input{
    width: 150px;
}

.gf-product-dates{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gf-product-btn-inbasket{
    width: 130px;
    height: 50px;
    background: var(--brown-web);
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 7px;
}

.gf-product-btn-inbasket:hover{
    background: var(--borwn-web-dark);
    color: white;
}

.gf-product-btn-inbasket:active{
    background: var(--brown-web);
}

.gf-product-btn-rentnow{
    width: 230px;
    height: 50px;
    background: var(--brown-web);
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 18px;
}

.gf-product-btn-rentnow:hover{
    background: var(--borwn-web-dark);
    color: white;
}

.gf-product-btn-rentnow:active{
    background: var(--brown-web);
}

.gf-product-information-btn{
    display: flex;
    gap: 19px;
}

.gf-product-information-panels{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* -------------------------------------------------/PRODUCT/---------------------------------------------------------------------------------------------- */




















